# ---------- APP VARIABLES
FTP_TIMEOUT_SECONDS=
FTP_DOWNLOAD_BLOCK_SIZE=
REGISTRY_TABLE_NAME=
REGISTRY_ID=
ENVIRONMENT=
SOURCE_NAME=

# ---------- DYNAMODB CLIENT VARIABLES
DYNAMODB_ENDPOINT_URL=

# ---------- S3 CLIENT VARIABLES
S3_BUCKET_NAME=
S3_MAX_POOL_CONNECTIONS=

# ---------- LOG VARIABLES
POWERTOOLS_SERVICE_NAME=
POWERTOOLS_LOG_LEVEL=
POWERTOOLS_LOG_EVENT=

#----------- AWS 
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=